@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Knowledge Web App!!</h1>
    <p> You will learn Many more things about the world. </p>
</div>
